<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Barvisor</string>
    <key>CFBundleDisplayName</key>
    <string>Barvisor</string>
    <key>CFBundleIdentifier</key>
    <string>com.godynskiy.barvisor</string>
    <key>CFBundleExecutable</key>
    <string>Barvisor</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.1</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSAppleEventsUsageDescription</key>
    <string>Barvisor needs to control other apps to toggle their menu-bar visibility in fullscreen.</string>
</dict>
</plist>
